<div class="container">
  <h1 style="text-align: center; margin-top: 20px; margin-bottom: 30px;">Current guild members:</h1>
  <% if @memberships.map{ |membership| membership.status == "pending" }.include?(true) %>
  <div id="pending-card">
    <p style="margin: 0px;"><i class="far fa-pause-circle " style="font-size: larger;"></i> <%= @memberships.reject{ |membership| membership.status != "pending" }.count %> pending invitations...</p>
  </div>
  <% end %>
  <% if !@memberships.empty? && @memberships.map{ |membership| membership.status == "pending" }.include?(false) %>
    <% @memberships.order(created_at: :desc).each do |membership| %>
      <% if membership.status == "approved" && membership.user != current_user %>
        <div class="card-membership-user">
            <% if membership.user.photo.attached? %>
              <%= cl_image_tag(membership.user.photo.key, crop: :fill, gravitate: :face, height: 60, width: 60, class: "avatar avatar-large dropdown-toggle border border-dark", style: "width: 60px; height: 60px; ", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% else %>
              <%= image_tag "https://res.cloudinary.com/dx6rtf9wl/image/upload/v1615222704/user_xyjx1w.png", class: "avatar avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
          <div class="card-user-infos">
            <h3><%= membership.user.first_name unless nil? %> <%= membership.user.last_name unless nil? %> </h3>
            <h3><%= "Nickname: #{membership.user.nickname}" unless membership.user.nickname.nil? %></h3>
          </div>
          <% if membership.guild.user == current_user %> 
            <%= link_to "Make Admin" , guild_guildmembership_path(id: membership, admin: true, banned: false), method: :patch, style:"width: 300px;", class: "btn btn-success invite-btn" unless membership.admin?%>
            <%= link_to "Remove as Admin" , guild_guildmembership_path(id: membership, admin: false, banned: false), method: :patch, style:"width: 300px;", class: "btn btn-success invite-btn" unless !membership.admin?%>
          <% end %>
          <%= link_to "Ban" , guild_guildmembership_path(id: membership, admin: false, banned: true), method: :patch, class: "btn btn-success invite-btn" unless membership.banned?%>
          <%= link_to "Unban" , guild_guildmembership_path(id: membership, admin: false, banned: false), method: :patch, class: "btn btn-success invite-btn" unless !membership.banned?%>
          <%= link_to "Kick" , guild_guildmembership_path(id: membership, admin: false, banned: true), method: :delete, class: "btn btn-success invite-btn" unless membership.admin? %>
        </div>
      <% end %>
    <% end %>
    <% else %>
      <div id="empty-members-card">
        Oops, it looks like there are no members currently.
        <br>
        <h1><i class="far fa-sad-cry mt-4"></i></h1>
      </div>
  <% end %>
</div>
<div id="bottom-membership-container">
  <div style="margin-right: 15px;">
    <%= link_to "Back to guild", guild_path(@guild), class: "btn btns" %>
  </div>
  <div role="group" style="margin-left: 15px;">
    <button id="btnGroupDrop1" type="button" class="btn btns" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Invite Members
    </button>
    <div class="dropdown-menu" style="border-radius: 10px; margin-top: 10px;" aria-labelledby="btnGroupDrop1">
      <%= form_tag guild_users_path(@guild), method: :get do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Enter name, nickname or email", style: "width: 500px; border-radius: 10px; margin: 20px;" %>
      <% end %>
    </div>
  </div>
</div>

  