<div class="container milestone-container">
  <% @milestones.order(deadline: :asc).each do |milestone| %>
    <% if milestone.completed == false %>
      <div class="milestone-card" style="position: relative;">
          <div class="progress milestone-progress-bar" style="width: 100%; border-radius: 0px; position: absolute; top: 0px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: <%= milestone.tasks.where(completed: true).present? ? 100 / milestone.tasks.count * milestone.tasks.where(completed: true).count : 0 %>%;" ></div>
          </div>
        <div class="milestone-card-infos">
          <h2><%= milestone.title %></h2>
          <h3><i class="far fa-clock"></i> <%= milestone.deadline.strftime("%d/%m/%Y") %></h3>
          <h3><i class="far fa-gem"></i> <%= milestone.reward %></h3>
        </div>
          <p><%= milestone.description %></p>
          <p style="margin-right: 10px;"><%= link_to "Show more", guild_milestone_path(milestone.guild, milestone)  %></p>
      </div>
    <% end %>
  <% end %>
</div>

