<div class="container">
  <h1>Create a Milestone</h1>

  <%= simple_form_for [@guild, @milestone] do |f| %>
    <%= f.input :title, error: "A milestone must have a name between 3 and 60 characters long." %>
    <%= f.input :description %>
    <%= f.input :deadline, as: :date, html5: true%>
    <%= f.submit %>
  <% end %>
</div>
