<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-md-6">
      <div class="form-sign-up">
  <h2>Create a Milestone</h2>

  <%= simple_form_for [@guild, @milestone] do |f| %>
  <div class="input-box">
    <p>Milestone name</p>
    <%= f.input :title, error: "A milestone must have a name more than 3 characters long.", label: false %>
  </div>
  <div class="input-box">
    <p>Description</p>
    <%= f.input :description, label: false %>
  </div>
  <div class="input-box">
    <p>Deadline</p>
    <%= f.input :deadline, as: :date, html5: true, label: false%>
  </div>
  <div class="input-box">
    <p>Reward</p>
    <%= f.input :reward, label: false %>
  </div>
    <%= f.button :submit, class: "btn btn-form" %>
  <% end %>
</div>
</div>
</div>
</div>
