<div class="container">
  <div class="row d-flex align-items-center justify-content-around">
    <div class="col-xs-12 col-md-6">
      <div class="form-sign-up">
  <h2>Create a Milestone</h2>
    <%= simple_form_for [@guild, @milestone] do |f| %>
      <div class="input-box">
        <p>Milestone name</p>
        <%= f.input :title, error: "A milestone must have a name more than 3 characters long.", label: false %>
      </div>
      <div class="input-box">
        <p>Description</p>
        <%= f.input :description, label: false %>
      </div>
      <div class="input-box">
        <p>Deadline</p>
        <%= f.input :deadline, as: :date, html5: true, label: false%>
      </div>
      <div class="input-box">
        <p>Reward</p>
        <%= f.input :reward, label: false %>
      </div>
        <%= f.button :submit, class: "btn btn-form" %>
    <% end %>
      </div>
    </div>
  <div class="col-xs-12 col-md-4 d-flex align-items-end" style="width: 40vw; color:#71618e; font-size: 20px;">
  <div>
    <p>What is a milestone?</p>
    <p style="font-size: 18px;">It helps you organise tasks with guild members and see the progress in a glance.</p>
    <p style="font-size: 18px;">Once the milestone is finished, you can enjoy the reward!</p>
    <br>
    <img src="https://blush.design/api/download?shareUri=eUiGvTHkv&c=Skin_0%7Efcb7a0&w=800&h=800&fm=png" alt="" style = "width: 300px; height: 250px;">
  </div>
</div>
</div>
</div>
<div style="text-align: center;">
  <%= link_to "Back to guild", guild_path(@guild), class: "btn btns" %>
</div>
  </div>
