  <div id="form" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title">New Task Form</h1>
          </div>
          <div class="modal-body">
              <%= simple_form_for [@milestone, @task] do |f| %>
                <div class="input-box">
                <p>Task</p>
                <%= f.input :title, error: "A task must have a name more than 3 characters long.", label:false %>
                </div>
                <div class="input-box">
                <p>Description</p>
                <%= f.input :description, label:false %>
                </div>
                <div class="input-box">
                <p>Assign member</p>
                <%= f.association :user, :as => :select, :collection => @guild.members, :label_method => :full_name, :value_method => :id, label:false %>
                </div>
                <%= f.button :submit, class: "btn-form" %>
              <% end %>
            <%= link_to "Back", guild_milestone_path(@milestone), class: "modal-back-btn" %>
          </div>
      </div>
    </div>
  </div>

<div class="milestone-main">
  <div class="milestone-header">
    <div class="milestone-box1">
      <h1><%= @milestone.title %></h1>
      <h6><i class="fab fa-slack-hash"></i> <%= @milestone.description %></h6>
      <h6><i class="far fa-gem"></i> <%= @milestone.reward %></h6>
    </div>
    <div class="milestone-box2">
      <% if @milestone.guild.user == current_user || @milestone.guild.guildmemberships.where(user: current_user, admin: true).present? %>
        <div class= "milestone-btns">
          <%= link_to "Destroy", guild_milestone_path(@milestone), method: :delete, data: {confirm: "Are you sure you wish to delete it?"}, class: "btn-milestone"%>
          <%= link_to "Completed", guild_milestone_path(@guild, @milestone, completed: true), method: :patch, class: "btn-milestone" %>
          <%= link_to "Activate", guild_milestone_path(@guild, @milestone, completed: false), method: :patch, class: "btn-milestone" %>
        </div>
      <% end %>
      <div style="display: flex; justify-content: center;">
        <% if @milestone.completed %>
          <%="Status : #{@milestone.title} is completed"%>
        <% elsif @milestone.completed == false %>
          <%="Status : #{@milestone.title} is activated"%>
        <% end %>
      </div>
    </div>
  </div>
<div class="progress" style="width: 60vw; height: 15px; border-radius: 10px;">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: <%= @milestone.tasks.where(completed: true).present? ? 100 / @milestone.tasks.count * @milestone.tasks.where(completed: true).count : 0 %>%;" > <%= @milestone.tasks.where(completed: true).present? ? 100 / @milestone.tasks.count * @milestone.tasks.where(completed: true).count : 0 %>%</div>
</div>

  <div class="task-container" style="width: 60vw;">
    <div class="new-task-box">
      <button type="button" class="btn-new-task" data-toggle="modal" data-target="#form">
      <img src="https://blush.design/api/download?shareUri=EqOeLfC45&w=800&h=800&fm=png" alt="" style="margin-bottom: 5px;">
        Add new task
      </button>
    </div>
    <% @tasks.order(created_at: :desc).each do |task| %>
      <div class="task-box">
        <div class="task-box1" style="margin: 0 auto; text-align: center;">
          <div class="task-box-avatar">
            <% if task.user.photo.attached? %>
              <%= cl_image_tag(task.user.photo.key, crop: :fill, style:"height: 40px; width: 40px;", class: "avatar dropdown-toggle border border-dark", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% else %>
              <%= image_tag "https://res.cloudinary.com/dx6rtf9wl/image/upload/v1615222704/user_xyjx1w.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
          </div>
          <div class="task-name" style="margin-bottom: 0px; margin-top: 10px;"><%= task.user.full_name%></div>
        </div>
        <div class="task-box2" style="margin-top: 0px; text-align: center;">
          <div class="task-title" style="margin-bottom: 20px;"><i class="fas fa-thumbtack"></i> Task: <%= task.title %></div>
          <div class="task-description" style="margin-bottom: 20px;"><i class="fas fa-tasks"></i> <%= task.description %></div>
          <div class="task-status">
            <% if task.completed %>
             <p style="color: #b2402c"><i class="fas fa-check-square"></i> Task complete</p>
            <% else %>
              <p><i class="fas fa-exclamation-circle"></i> Task in progress</p>
            <% end %>
          </div>
          <div class="task-status-btn">
            <% if !task.completed && (task.user == current_user || task.milestone.guild.user == current_user) %>
              <%= link_to "Mark as complete", milestone_task_path(@milestone, task, task: {completed: true}), method: :patch, style:"padding: 8px;", class: "btn-milestone" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div style="text-align: center; margin-bottom: 20px;">
  <%= link_to "Back to guild", guild_path(@guild), class: "btn btns" %>
</div>
