  <div class="container milestone-container">
  <div class="milestone-header">
    <h1><%= @milestone.title %></h1>
    <p><%= @milestone.description %></p>
    <div class="container">
      <button type="button" class="btn-milestone" data-toggle="modal" data-target="#form">
        Add new task
      </button>
    </div>
    <div>
      <% if @milestone.completed %>
        <%="status : #{@milestone.title} is completed"%>
      <% elsif @milestone.completed == false %>
        <%="status : #{@milestone.title} is activated"%>
      <% end %>
    </div>

    <div>
      <%= link_to guild_milestone_path(@milestone), method: :delete, data: {confirm: "Are you sure you wish to delete it?"}, class: "btn-milestone ml-4" do %>
      destroy
      <% end %>
    </div>
  </div>


  <div id="form" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title">New Task Form</h1>
          </div>
          <div class="modal-body">
              <%= simple_form_for [@milestone, @task] do |f| %>
                <%= f.input :title, error: "A task must have a name more than 3 characters long." %>
                <%= f.input :description %>
                <%= f.association :user, :as => :select, :collection => @guild.members, :label_method => :email, :value_method => :id %>
                <%= f.submit %>
              <% end %>
            <%= link_to "back", guild_milestone_path(@milestone) %>
          </div>
      </div>
    </div>
  </div>

<div>
<% @tasks.each do |task| %>
  <div class="task-container">
    <div>title: <%= task.title %></div>
    <div>description: <%= task.description %></div>
    <div>member: <%= task.user.email %></div>
    <p><%= task.completed ? "Task complete" : "Task in progress" %> </p>
    <% if task.completed %>
      <%= link_to "Start task", milestone_task_path(@milestone, task, task: {completed: false}), method: :patch, class: "btn-milestone ml-4" %>
    <% else %>
      <%= link_to "Mark as compolete", milestone_task_path(@milestone, task, task: {completed: true}), method: :patch, class: "btn-milestone ml-4" %>
    <% end %>

  </div>
<% end %>



<%= link_to "Completed", guild_milestone_path(@guild, @milestone, completed: true), method: :patch, class: "btn-milestone ml-4" %>
<%= link_to "Activate", guild_milestone_path(@guild, @milestone, completed: false), method: :patch, class: "btn-milestone ml-4" %>
</div>

<div class="circle3"></div>

