<h1><%= @milestone.title %></h1>
<p><%= @milestone.description %></p>

<% @tasks.each do |task| %>
  <%= task.title %>
  <%= task.user %>
  <%= task.description %>
<% end %>

<%= link_to "Completed", guild_milestone_path(@milestone, completed: true), method: :patch, class: "btn btn-primary ml-4" %>
<%= link_to "Activate", guild_milestone_path(@milestone, completed: false), method: :patch, class: "btn btn-danger ml-4" %>

<div>
  <% if @milestone.completed %>
    <%="status : #{@milestone.title} is completed"%>
  <% elsif @milestone.completed == false %>
    <%="status : #{@milestone.title} is activated"%>
  <% end %>
</div>
