<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-md-6">
      <div class="form-sign-up">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="input-box">
        <span>Email</span>
        <%= f.input :email, label: false,required: true, autofocus: true %>
      </div>
      <div class="input-box">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
      </div>
      <div class="input-box">
        <span>First name</span>
        <%= f.input :first_name, required: true, label: false, input_html: { autocomplete: "first-name"} %>
      </div>
      <div class="input-box">
        <span>Last name</span>
        <%= f.input :last_name, required: true, label: false, input_html: { autocomplete: "last-name"} %>
      </div>
      <div class="input-box">
        <span>Nick name</span>
        <%= f.input :nickname, required: false, label: false, input_html: { autocomplete: "nickname"} %>
      </div>
      <div class="input-box" style="text-align: center;">
        <%= f.input :photo, as: :file, input_html: { class: 'd-none'}, label_html: { class: 'btn btns'}, label: "Add avatar picture" %>
      </div>
      <div class="input-box">
        <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="input-box">
        <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="input-box">
      <span>Current password</span>
        <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true, label: false,
                  input_html: { autocomplete: "current-password" } %>
      </div>
    </div>
  <div class="bottom-container">
    <div>
      <%= link_to "Back", :back, class: "btn btns" %>
    </div>
    <div>
     <%= f.button :submit, "Update", class: "btn btns" %>
    <% end %>
    </div>
    <div>
      <%= link_to "Delete my account", registration_path(resource_name), class: "btn btns", data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  </div>
</div>
</div>
</div>
</div>
