<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-md-6">
      <div class="form-sign-up">
  <h2>Editing <%= @guild.name %></h2>

  <%= simple_form_for @guild do |f| %>
    <div class="input-box">
    <p>Guild name</p>
    <%= f.input :name, error: "A guild must have a name between 3 and 60 characters long.", label: false %>
    </div>
    <div class="input-box">
    <p>Description</p>
    <%= f.input :description, label: false %>
    </div>
    <div class="input-box">
    <p>Category</p>
    <%= f.input :category, error: "A guild must have a category.", collection: Guild::CATEGORIES, label: false %>
    </div>
    <%= f.input :photo, as: :file, input_html: { class: 'd-none'}, label_html: { class: 'btn btns'}, label: 'Choose a picture' %>
    <%= f.button :submit, class: "btn btn-form" %>
  <% end %>
</div>
</div>
</div>
</div>
<div style="text-align: center;">
  <%= link_to "Back to guild", guild_path(@guild), class: "btn btns" %>
</div>