<div class="invites">
  <% if current_user.guildmemberships.where(status: "pending").present? %>
    <% current_user.guildmemberships.where(status: "pending").each do |membership| %>
      <p style="margin-top: 10px;">You have been invited to</p>
      <p><strong><%= membership.guild.name %></strong></p>
      <p>by <%= membership.guild.user.full_name %></p>
      <%= link_to "Accept", status_guild_guildmembership_path(membership.guild, membership, status: "approved"), class:"btn btn-success", method: :patch, remote: true %>
      <%= link_to "Reject", guild_guildmembership_path(membership.guild, membership), class:"btn btn-danger", method: :delete, remote: true%>
    <% end %>
  <% end %>
</div>

<div class="main-glass">
  <div class="main">
    <h1>Your Guilds</h1>
    <div class="bottom-shadow"></div>
    <div class="guild-list-container">
      <% @guilds.each do |guild| %>
       <% if guild.guildmemberships.where(user: current_user, status: "approved").present? || guild.user == current_user  %>
        <div class="guild">
          <%= link_to guild_path(guild) do %>
            <div class="guild-img">
              <% if guild.photo.attached? %>
               <%= cl_image_tag(guild.photo.key, crop: :fill) %>
              <% else %>
                <img src="https://res.cloudinary.com/dx6rtf9wl/image/upload/v1614945426/download_jisl0t.jpg" alt="">
              <% end %>
            </div>
            <div class="guild-info">
              <div class="guild-info1">
                <h4><%= guild.name %></h4>
              </div>
              <div class="guild-info2">
                 <p><%= guild.category %></p>
                 <p><%= guild.description %></p>
              </div>
              <div class="guild-info3">
              <%= link_to "Leave", guild_guildmembership_path(guild, id: guild.guildmemberships.find_by(user: current_user, guild: guild)), method: :delete, data: { confirm: "Are you sure you wish to leave #{guild.name}"}, style: "position: absolute; right: 30px; top: 10px; padding: 5px;", class: "btn btn-danger", remote: true unless guild.user == current_user %>
            </div>
            </div>
          <% end %>
        </div>
          <% end %>
        <% end %>
        <div id="empty-guild" >
          <%= link_to  new_guild_path(@guild) do %>
            <i class="fas fa-plus-circle"> Create a new guild</i> 
          <% end %>
        </div>       
    </div>
  </div>
</div>
