<%# :width=>1920, :height=>300, %>
<div class="banner" style="background-image: url(https://via.placeholder.com/1920x300)">
  <% if @guild.photo.attached? %>
    <%= cl_image_tag(@guild.photo.key, crop: :fill) %>
  <% else %>
    <img src="https://via.placeholder.com/1920x300" alt="">
  <% end %>
  <h1><%= @guild.name %></h1>
</div>
<div class="show-container">
  <div class="show-navbar">
    <ul class="nav show-nav-tabs" id="guildNavbar" role="tablist" style="flex-direction: column; border: none;">
      <li class="show-nav-item">
        <a class="show-nav-link active" id="all-posts-tab" data-toggle="tab" href="#all-posts" role="tab" aria-controls="all-posts" aria-selected="true" style="border: none;">All posts</a>
      </li>
      <li class="show-nav-item">
        <a class="show-nav-link" id="picture-posts-tab" data-toggle="tab" href="#picture-posts" role="tab" aria-controls="picture-posts" aria-selected="false" style="border: none;">Pictures</a>
      </li>
      <li class="show-nav-item">
        <a class="show-nav-link" id="video-posts-tab" data-toggle="tab" href="#video-posts" role="tab" aria-controls="video-posts" aria-selected="false" style="border: none;">Videos</a>
      </li>
        <% if policy(@guild).manage? %>
          <li class="show-nav-item"><%= link_to "Manage Guild", manage_guild_path(@guild), class: "nav-link"%></li>
        <% end %>
      <li class="show-nav-item">
        <%= link_to "Create post", new_guild_post_path(@guild)  %>
      </li>
    </ul>
  </div>

  <div class="content">
    <div class="posts">
      <p>This is a div that will house the function of posting. Will be able to do the form after the post routes are set in place.</p>
    </div>
    <div class="tab-content" id="guildNavbarContent">
      <div class="tab-pane fade show active" id="all-posts" role="tabpanel" aria-labelledby="all-posts-tab">
        <% @guild.posts.each do |post| %>
          <div class="post" style="display: flex; align-items: center; justify-content: left; min-width: 50vw; max-width:50vw;">
            <div class="avatar-picture">
              <img src="https://via.placeholder.com/50x50" alt="" style="border-radius: 50%;" />
            </div>
            <div class="post-content">
              <p style="margin-bottom: 0px; margin-left: 30px;"> <%= post.content %></p>
              <%# <% if @post.user == current_user %>
              <%= link_to "Edit", edit_guild_post_path(@guild, post) %>
              <%= link_to "Delete", guild_post_path(@guild, post), method: :delete, data: {confirm: "Are you sure you wish to delete it?"} %>
              <%# <% end %>
            </div>
          </div>
          <br>
        <% end %>
      </div>
      <div class="tab-pane fade" id="picture-posts" role="tabpanel" aria-labelledby="picture-posts-tab">
        <div class="post" style="display: flex; align-items: center; justify-content: left; min-width: 50vw; max-width:50vw;">
          <div class="avatar-picture">
            <img src="https://via.placeholder.com/50x50" alt="" style="border-radius: 50%;" />
          </div>
          <div class="post-content">
            <p style="margin-bottom: 0px; margin-left: 30px;">Pictures. Going to need logic here to display all posts that have pictures in them and have been posted to this specific guild. </p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="video-posts" role="tabpanel" aria-labelledby="video-posts-tab">
        <div class="post" style="display: flex;align-items: center; justify-content: left; min-width: 50vw; max-width:50vw;">
          <iframe class="ml-3" src="https://player.vimeo.com/video/332808813" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
          <div class="post-content">
            <p style="margin-bottom: 0px; margin-left: 30px;">Videos. Going to need logic here to display all posts that have videos in them and have been posted to this specific guild. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="guild-memberships">
    <h4>Guild Members</h4>
    <ul>
      <li><%= @guild.user.email %></li>
      <% @guild.guildmemberships.each do |guildmembership| %>
      <li><%= guildmembership.user.email %></li>
      <% end %>
    </ul>
  </div>
</div>

