<%# :width=>1920, :height=>300, %>
<div class="glass">
  <div class="show-container">
    <div class="show-box1">
      <div class="show-navbar">
        <div class="show-nav-header">
          <h2 class="show-nav-name"><%= @guild.name %></h2>
          <p class="show-nav-description"><%= @guild.description %></p>
        </div>
        <div class="show-nav-img">
          <% if @guild.photo.attached? %>
           <%= cl_image_tag(@guild.photo.key, crop: :fill) %>
          <% else %>
            <img src="https://res.cloudinary.com/dx6rtf9wl/image/upload/v1614945426/download_jisl0t.jpg" alt="">
          <% end %>
        </div>
        <ul class="nav show-nav-tabs" id="guildNavbar" role="tablist" style="flex-direction: column; border: none;">
          <li class="show-nav-item">
            <a class="show-nav-link active" id="all-posts-tab" data-toggle="tab" href="#all-posts" role="tab" aria-controls="all-posts" aria-selected="true" style="border: none;"><i class="fas fa-pen"></i>All posts</a>
          </li>
          <li class="show-nav-item">
            <a class="show-nav-link" id="picture-posts-tab" data-toggle="tab" href="#picture-posts" role="tab" aria-controls="picture-posts" aria-selected="false" style="border: none;"><i class="fas fa-camera"></i>Pictures</a>
          </li>
          <li class="show-nav-item">
            <a class="show-nav-link" id="video-posts-tab" data-toggle="tab" href="#video-posts" role="tab" aria-controls="video-posts" aria-selected="false" style="border: none;"><i class="fas fa-video"></i>Videos</a>
          </li>
          <li class="show-nav-item">
            <%= link_to guild_milestones_path(@guild)  do %>
            <i class="fas fa-shapes"></i>Active Milestones
            <% end %>
          </li>
          <% if policy(@guild).manage? %>
            <li class="show-nav-item">
              <%= link_to manage_guild_path(@guild) do %>
            <i class="fas fa-cog"></i>Manage Guild
            <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="content" style="margin-top: 50px;">
        <div class="tab-content" id="guildNavbarContent">
          <div class="tab-pane fade show active" id="all-posts" role="tabpanel" aria-labelledby="all-posts-tab">
          <div class="container" style="margin-bottom: 20px;" >
            <div class="post">
            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter" style="color: lightgrey; width: 100%;">
              Anything you wish to share?
            </button>
          </div>
            </div>
            <% @guild.posts.order(created_at: :desc).each do |post| %>
              <div class="post">
                <div class="avatar-picture ml-3">
                  <% if post.user.photo.attached? %>
                    <%= cl_image_tag(post.user.photo.key, crop: :fill, gravitate: :face, height: 40, width: 40, class: "avatar avatar-lg border border-dark") %>
                  <% else %>
                   <img class="avatar avatar-lg border border-dark" src="https://res.cloudinary.com/dx6rtf9wl/image/upload/v1615222704/user_xyjx1w.png" alt="" style="border-radius: 50%;" />
                  <% end %>
                  
                </div>
                <div class="post-content mt-3 ml-4">
                  <p style="font-size: 15px; font-weight: bold; color: #0f295f; margin: 0;"><%= post.user.full_name %> <span style="font-size: 10px; font-weight: lighter; color: rgba(0,0,0,0.5);"><%= post.created_at.strftime("%d/%m/%Y - %H:%M") %></span></p>
                  <p style="margin-bottom: 0px; margin-left: 30px;"> <%= post.content %></p>
                  <div class="post-edit">
                    <div>
                      <% if post.user == current_user %>
                        <%= link_to edit_guild_post_path(@guild, post), style: "font-size: 12px;" do%>
                        <i class="fas fa-edit"></i>
                        <% end %>
                      <% end %>
                      <% if policy(post).destroy? %>
                        <%= link_to guild_post_path(@guild, post), method: :delete, data: {confirm: "Are you sure you wish to delete it?"}, style: "font-size: 12px;" do %>
                        <i class="fas fa-trash-alt"></i>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <div class="tab-pane fade" id="picture-posts" role="tabpanel" aria-labelledby="picture-posts-tab">
            <div class="post" style="display: flex; align-items: center; justify-content: left; min-width: 45vw; max-width:45vw;">
              <div class="avatar-picture">
                <img src="https://via.placeholder.com/50x50" alt="" style="border-radius: 50%;" />
              </div>
              <div class="post-content">
                <p style="margin-bottom: 0px; margin-left: 30px;">Pictures. Going to need logic here to display all posts that have pictures in them and have been posted to this specific guild. </p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="video-posts" role="tabpanel" aria-labelledby="video-posts-tab">
            <div class="post" style="display: flex;align-items: center; justify-content: left; min-width: 45vw; max-width:45vw;">
              <iframe class="ml-3" src="https://player.vimeo.com/video/332808813" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
              <div class="post-content">
                <p style="margin-bottom: 0px; margin-left: 30px;">Videos. Going to need logic here to display all posts that have videos in them and have been posted to this specific guild. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="show-box2">
      <div class="guild-memberships">
        <div class="guild-member-header">
          <h2>Guild Members</h2>
        </div>
        <div class="guild-members">
          <ul>
            <li><%= @guild.user.full_name %></li>
            <% @guild.guildmemberships.each do |guildmembership| %>
              <% if guildmembership.status == "approved" %>
                <li><%= guildmembership.user.full_name %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content customized-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@guild, @post] do |f| %>
          <%= f.rich_text_area :content, label: false %>
      </div>
      <div>
        <%= f.button :submit, "Post", class: "btn post-button"%>
      <% end %>
      </div>
    </div>
  </div>
</div>


<div class="circle1"></div>
<div class="circle2" style="z-index: -1"></div>
