<div class="container user-index-container">
  <% @users.each do |user| %>
    <div class="card-user">
      <% if user.photo.attached? %>
        <%= cl_image_tag(user.photo.key, crop: :fill, gravitate: :face, height: 60, width: 60, style:"width: 60px; height: 60px;", class: "avatar border border-dark", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/dx6rtf9wl/image/upload/v1615222704/user_xyjx1w.png",class: "avatar", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
      <div class="card-user-infos">
        <h2><%= user.first_name unless nil? %> <%= user.last_name unless nil? %> </h2>
        <h3><%= "Nickname: #{user.nickname}" unless user.nickname.nil? %></h3>
      </div>
      <%= link_to "Invite", guild_guildmemberships_path(@guild, user: user), method: :post, class: "btn btn-success invite-btn" %>
    </div>
  <% end %>
</div>
