<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="height: 54px;">
  <div>
    <%= link_to guilds_path do  %>
      <img src="https://res.cloudinary.com/dx6rtf9wl/image/upload/v1615300198/theguildlogo_e1zpti.png" alt="" style="width: 40px; height: 40px; margin-right: 5px;">
      <h2 class="navbar-brand" style="color: white;">The Guild</h2>
    <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if user_signed_in? && controller_name == "guilds" && action_name == "index" %>
    <h2 class="mt-2" style="margin-right: 115px; color: #233356;">Welcome <%= current_user.first_name || current_user.nickname || current_user.email %></h2>
  <% end %>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag(current_user.photo.key, crop: :fill, gravitate: :face, height: 40, width: 40, class: "avatar dropdown-toggle border border-dark", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/dx6rtf9wl/image/upload/v1615222704/user_xyjx1w.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <p class="dropdown-item"><%= current_user.full_name %></p>
            <%= link_to "New Guild", new_guild_path , class: "dropdown-item" %>
            <%= link_to "My Guilds", guilds_path, class: "dropdown-item"  %>
            <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
